<!-- Header start -->
  <div id="navbar">
    <nav class="navbar">

                        <!--/.header-->
                        
                    	<!-- header start  -->
<div class="header">

    	
    	<div class="ncbi_logo">
		<a href="https://www.ncbi.nlm.nih.gov/" target="_blank">
			<img title="NCBI Home Page" src="/cxx-toolkit/static/img/ncbi_logo1.png">
		</a>
	</div>
    	
	<div class="res_logo">
		<h1 class="res_name">
	        	<a href="https://ncbi.github.io/cxx-toolkit/" title="Table of Contents Page" id="toolkit_header">
				NCBI C++ Toolkit
			</a>
		</h1>
	</div>
    
	<div style="position: absolute; height: 80px; right: 120px; top: 0; width: 50%" class="search" align="top">
        	<form name="frmSymbolSearch" onsubmit="return SymbolSearch(&#39;toolkit&#39;)" action="https://ncbi.github.io/" id="frmSymbolSearch">
		<table style="width: 100%">
      <tbody><tr>
			<td colspan="5">
				<input id="search_box" name="__symbol" placeholder="Search..." onkeypress="SymbolSearchKeyPress(&#39;toolkit&#39;,event)" type="text">
				<label for="search_box" class="offscreen_noflow">Search term</label>
				<div id="button-holder">
					<img src="/cxx-toolkit/static/img/search_icon.png" onclick="javasrcipt:SymbolSearch(&#39;toolkit&#39;);">
				</div>
			
		</td></tr>
      
		<tr class="option">
			<td width="0%"><nobr><input checked="checked" name="__symboloc" id="book_search" style="margin-left: 2em;&gt; &lt;label title=" search="" in="" this="" book"="" for="book_search" type="radio" onclick="toggleInHouseCheckbox(&#39;hidden&#39;);"> Book			</nobr>
			</td>
			<td width="0%">
				<nobr><input name="__symboloc" id="toolkit" type="radio" onclick="toggleInHouseCheckbox(&#39;visible&#39;);"> <label title="Search in the C/C++ source code" for="toolkit">Code</label></nobr>
			</td>
			<td width="0%">
				<nobr><input name="__symboloc" id="pLXR" type="radio" onclick="toggleInHouseCheckbox(&#39;visible&#39;);"> <label title="Search the symbol in the source code using LINUX Cross-Reference browser" for="pLXR">LXR</label></nobr>
			</td>
			<td width="0%">
				<nobr><input name="__symboloc" id="pLib" type="radio" onclick="toggleInHouseCheckbox(&#39;visible&#39;);"> <label title="Locate the Toolkit library(es) where the symbol is defined" for="pLib">Library</label></nobr>
			</td>
			<td width="100%">
				<nobr id="switch_nobr" style="visibility: hidden;"><input name="switch" id="switch" style="margin-left: 30%;&gt; &lt;label title=" test"="" for="switch" align="right" type="checkbox"><label for="switch">In house</label></nobr>
			</td>
		</tr>

		
		</tbody></table>
		</form>
	</div>

 </div>   

    </nav>
	
	<nav class="navbar2">
	
                      
	<div class="nvgtn">
	
		<a style="float:left; padding-left: 50px;" class="jig-ncbipopper" href="https://ncbi.github.io/cxx-toolkit/pages/test#__nav_cntnt" role="button" aria-expanded="false" aria-haspopup="true">Contents ▾</a>
		<div id="__nav_cntnt" style="width: 700px; height: 600px; overflow: scroll; top: -100px; left: -100px; display: none; max-height: 600px;" class="ui-helper-reset ui-ncbipopper-wrapper ui-ncbipopper-basic">
			<a href="https://ncbi.github.io/cxx-toolkit/" class="right">Table of Contents Page</a>
			<ul class="simple-list">
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/fm">Book Information</a>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part1">Part 1. Overview</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_intro">Introduction to the C++ Toolkit</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_start">Getting Started</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part2">Part 2. Development Framework</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_getcode_svn">Retrieve the Source Code (FTP and Subversion)</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_config">Configure, Build, and Use the Toolkit (autoconf/PTB)</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_build">Working with Makefiles (autoconf/PTB)</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_proj">Project Creation and Management (autoconf/PTB)</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_cmconfig">Configure, Build and Use the Toolkit with CMake</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_style">Programming Policies and Guidelines</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part3">Part 3. C++ Toolkit Library Reference</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_core">Portability, Core Functionality and Application Framework</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_log">Logging and Diagnostics</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_conn">Networking and IPC</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_dbapi">Database Access Support</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_cgi">CGI and Fast-CGI </a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_html">HTML</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_ser">Data Serialization (ASN.1, XML)</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_datamod">Biological Sequence Data Model</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_objmgr">Biological Object Manager</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_blast">BLAST API</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_dataaccess">Access to NCBI data</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_algoalign">Biological Sequence Alignment</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_gui">GUI and Graphics</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_boost">Using the Boost Unit Test Framework</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part4">Part 4. Wrappers for 3rd-Party Packages</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_xmlwrapp">XmlWrapp (XML parsing and handling, XSLT, XPath)</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_jsonwrapp">JSONWRAPP (JSON parsing and handling)</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part5">Part 5. Software</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_debug">Debugging, Exceptions, and Error Handling</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_grid">Distributed Computing</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_app">Applications</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_demo">Examples and Demos</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_res">C Toolkit Resources for C++ Toolkit Users</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part6">Part 6. Help and Support</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_browse">NCBI C++ Toolkit Source Browser</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_devtools">Software Development Tools</a>
						</li>
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_faq">FAQs, Useful Documentation Links, and Mailing Lists</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/part7">Part 7. Library and Applications Configuration</a>
					<ul class="simple-list">
						<li class="half_rhythm">
							<a href="https://ncbi.github.io/cxx-toolkit/pages/ch_libconfig">Library Configuration</a>
						</li>
					</ul>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/misc">Miscellaneous</a>
				</li>
				<li class="half_rhythm">
					<a href="https://ncbi.github.io/cxx-toolkit/pages/appendix">Appendix - Books and Styles</a>
				</li>
			</ul>
		</div>
		
		<div>
			<a style="float:right; padding-right: 50px;" href="https://github.com/ncbi/cxx-toolkit/edit/gh-pages/{{ page.path }}"><img alt="Edit this page" src="/cxx-toolkit/static/img/button_edit_grey.gif"></a>
			<a style="float:right; padding-right: 50px;" target="_blank" href="/cxx-toolkit/help_page">How to edit the page</a></div>			
		</div>

	</div>
	</nav>
	
  </div>	
  <!-- Header end -->	
